* {
  margin: 0;
  padding: 0;
}

#header {
  background-color:darkslategray;
  color:white;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 70vh;
  margin: 0 auto;
  padding-top:25px;
  display: flex;
  flex-wrap:wrap;
  flex-grow:1;
  width:50%;  
  justify-content: space-evenly;
  
  
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}
.myDiv {
  margin-left: 2px;
  color:aquamarine
}

